<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de productos</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<%- include ('./partials/header.ejs') %>
<body>



  <h1 class="text-2xl font-bold text-center tracking-wide my-30">Bienvenidos a mi API REST</h1>


  

  <div style="min-width: 320px; min-height: 200px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);" class="border">
    <div class="border-b border-gray-300">
       <img class="w-16 md:w-32 lg:w-48" src="/auto-blueberry-3.jpg" alt="image1" />
<img class ="w-16 md:w-32 lg:w-48"src="images/bloody-skunk-auto-1.jpg" alt="image2" />
<div class="w-30 h-20"><img src="images/auto-blueberry-4.jpg" alt="image3" />
<img class="w-16 md:w-32 lg:w-48"src="C:\Users\MarkushTr2h8\Documents\GitHub\restfulapi\public\images\tropicanna-poison-f1-fast-version-1.jpg" alt="image4" />
    </div>
  </div>

    
</body>

<%- include ('./partials/footer.ejs') %>

</html>