<footer class="flex justify-between items-center bg-gray-200 py-4  fixed bottom-0 w-full">
    <div>© Todos los derechos reservados</div>
    <div class="flex">
       <a href="#" class="px-2 font-semibold hover:underline">¿Quiénes somos ?</a>
       <a href="/register" class="px-2 font-semibold hover:underline">¿Aún no te registraste?</a>
    </div>
  </footer>